.container{
   
    padding: 30px;
    margin-bottom: 300px;
    
}

.col-3{ border: 2px solid red;
    padding: 30px;
   


}

#cor1,#cor3,#cor5,#cor7{
    background-color: black;
}

#cor2,#cor4,#cor6,#cor8{
    background-color: blueviolet;
}