h1{
    color: aqua;
}

/*SM*/

@media( min-width:576px){
    h1{
        color: brown;
    }

}

.btn-primary{
    background-color: blueviolet;
}

.container{
    background-color: beige;
}

.container-fluid{
    background-color: bisque;
}

/*container-breakpoint*/

.container-sm{
    margin-bottom: 30px;
    border: 2px solid blue;
    
}

.container-md{
    margin-bottom: 30px;
    border: 2px solid crimson;
    
}

.container-lg{
    margin-bottom: 30px;
    border: 2px solid chocolate;
    
}

/*grid*/

.container{
    border: 5px dotted blue;
    padding: 10px;
    margin-bottom: 300px;
}

.row{
    border: 5px solid purple;
    height: 100px;
    padding: 10px;
    margin: 0;
}

.col,
.col-4,
.col-2,
.col-6,
.col-3{
    border: 2px dashed red;
    height: 100%;
    margin: 0;
}

    #largura-limitada{
        max-width: 500px;
    }

    /*alinhamento vertical*/
     .vertical{
        height: 250px;
        border-color:coral ;
     }

     .vertical .row{
        height: 100%;
     }

     .vertical .col-6,
     .vertical .col-3,
     .vertical .col-4{
        height: 50px;
     }

     /*offset*/

     #offset{
        height: auto;
     }

    #offset .col-md-3{
        height: 50px;
        border: 2px solid red;

     }